name: Build
on:
  push:
    branches:
      - '**'
  pull_request:
    types: [opened, synchronize, reopened]
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0  # Shallow clones should be disabled for a better relevancy of analysis
      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin' # See 'Supported distributions' for available options
          java-version: '21'
      - name: Cache Gradle packages
        id: restore-gradle-cache
        uses: actions/cache/restore@v4
        with:
          path: ~/.gradle/caches
          key: ${{ runner.os }}-gradle
      - name: Build
        run: ./gradlew build --stacktrace --build-cache
      - name: Save Cache Gradle
        uses: actions/cache/save@v4
        with:
          key: ${{ steps.restore-gradle-cache.cache-primary-key }}
          path: ~/.gradle/caches
